{% extends 'base.html' %}

{% block title %}My Company Jobs{% endblock %}

{% block content %}
<h2>My Posted Jobs</h2>
<p>Total: {{ jobs|length }}</p>
<ul>
    {% for job in jobs %}
    <li>
        <a href="{% url 'jobs:job_detail' job.pk %}">
            <strong>{{ job.title }}</strong>
        </a><br>
        {{ job.location }} | ${{ job.salary }}<br>
        {{ job.description|truncatewords:20 }}<br>

        <a href="{% url 'jobs:edit_job' job.pk %}">Edit</a>
        <a href="{% url 'jobs:delete_job' job.pk %}">Delete</a>
        <a href="{% url 'resumes:job_applications' job.pk %}">View Applications</a>

    </li>
    {% empty %}
    <li>You haven’t posted any jobs yet.</li>
    {% endfor %}
</ul>
{% endblock %}
